/*main*/
body {
    margin: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #f2f2f2;
    background: #111;
}
#header {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 22px;
}
#header a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    display: inline-block;
}
#header a:hover {
    color: rgb(255, 255, 255);
}
#logo:hover {
    background: #333;
    -webkit-border-radius: 3px;
}
#header .hl {
    position: absolute;
    left: 20px;
    top: 0;
}
#header .hl a {
    margin-right: 8px;
    padding: 0 5px;
}
#header .hr {
    position: absolute;
    right: 20px;
    top: 0;
}
#header .hr > span {
    color: #999;
    padding: 0 5px;
}
#header .hr a {
    background: #232323;
    display: inline-block;
    padding: 1px 11px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(101, 101, 101, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(101, 101, 101, .1);
    box-shadow: inset 0 1px 0 rgba(101, 101, 101, .1);
}
#header .hr a:hover {
    background: #333;
}

.slider {
    position: fixed;
    top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    z-index: 0;
}
.slider .pw {
    display: inline-block;
    background: #181818;
    background: #222;
    -moz-box-shadow: 0 0 10px #0e0e0e;
    -webkit-box-shadow: 0 0 10px #0e0e0e;
    box-shadow: 0 0 10px #0e0e0e;
}
.slider .pw img {
    width: 100%;
    height: 100%;
}
.slider .meta {
    text-align: center;
}
.slider .meta p {
    background: #181818;
    padding: 15px 10px;
    color: #999;
    display: inline-block;
    text-align: left;
    margin-top: 0;
    font-size: 13px;
}
.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider ul li {
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    color: #333;
    font-size: 12px;
    text-align: right;
}
#footer a {
    color: #333;
    text-decoration: none;
}
